
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
    background-color: #2e6da4;
}

.wrapper_row {
    height: 100%;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: row;

    background-color: #971f3c;
}


header,
footer {
    height: 30px;
    background-color: #4cae4c;
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    flex: 1;
    background-color: #9d9d9d;
}

.left{
    height: 100%;
    width: 300px;
    background-color: #2e6da4;

    /*空间不足时，不进行缩减*/
    flex-shrink: 0;

    /*空间多余时，不进行缩减*/
    flex-grow: 0;
}

.key_word{
    margin: 10px;
    color: #8e2eff;
    background-color: wheat;
    display: inline-block;
}

.right{
    height: 100%;
    background-color: #a6e1ec;
    /*width: 100%;*/
    flex-grow: 1;
    flex-shrink: 1;
}

.note_list{
    /*background-color: #fdffa3;*/
    display: flex;
    flex-direction: column;
    /*width: 500px;*/
}

.note_item{
    background-color: crimson;
    /*margin: 10px;*/
    display: flex;
    /*border: 1px solid #00ff00;*/

}

.note_editor{
    margin: 10px;
    background-color: #a6e1ec;
    display: none;
    width: 100%;

}
.note_editor textarea{
    width: 100%;
    min-height: 300px;
    border: none;
}

.note_view{
    margin: 10px;
    background-color: #eeeeff;
}

.note_title{
    color: red;
}

.note_keyword{
    color: #3650f0;
}

.note_txt{
    font-size: medium;
}
