/*.container {*/
    /*!*overflow: auto;*!*/
/*}*/

/*.left {*/
    /*float: left;*/
/*}*/

/*.right {*/
    /*float: left;*/
/*}*/

/*.container:after{*/
    /*clear: both;*/
    /*content: "";*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
/*}*/

/*.preview{*/
    /*background-color: #ededed;*/
    /*border: solid 1px;*/
    /*margin: 15px;*/
/*}*/

/*.note_item{*/
    /*margin: 5px;*/
    /*background-color: #dcdcdc;*/
/*}*/

/*.note_title{*/
    /*font-size: 30px;*/
    /*!*color: red;*!*/
/*}*/

/*.note_title{*/
/*}*/

/*.keyword_list{*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: #e6e6e6;*/
/*}*/

/*.note_summary{*/
    /*margin: 5px;*/
/*}*/

/*.note_div{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: none;*/
    /*background: #e1e1e1;*/
    /*border-radius: 5px;*/
    /*display: none;*/
    /*margin: 5px;*/
/*}*/

/*.note_editor{*/
    /*width: 500px;*/
    /*height: 800px;*/
/*}*/

.container{
    /*width: 500px;*/
    height: 100px;
    padding: 10px;
    border: 1px solid #4cae4c;
}


.left{
    width: 25%;
    border: 1px solid #4cae4c;
    height: 100%;
    float: left;
    margin: 3px;
}

.right{
    margin: 3px;
    width: 70%;
    border: 1px solid #4cae4c;
    height: 100%;
    float: left;
}

.container::after{
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
}